/* General Page Layout */
main {
    max-width: 840px;
    margin: 0 auto;
}

/* Fixes the image aspect ratio issue from your quiz */
img {
    height: auto;
}

/* ASIDE STYLING (Assignment Requirement) */
aside {
    width: 20rem;
    margin: 1rem auto;
    border: 1px solid rgb(0 0 0 / 0.2);
    /* Subtle transparent border */
    padding: 1rem;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
}

/* Instructions require setting paragraph padding to 0 */
p {
    padding: 0;
}

/* Footer Styling */
footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}